<%= link_to "New deck", "/decks/new" %>
<ul>
<% @decks.each do |deck| %>
<li><%=link_to deck.name, "/decks/#{deck.id}"%> <%=link_to "Edit", "/decks/#{deck.id}/edit" %> <%= link_to "Delete", "/decks/#{deck.id}", method: :delete, confirm: "Are you sure?" %>
</li>
<%end%>
</ul>